.SearchInput input {
  padding-left: 36px !important;
}

.SearchInput {
  /* box-shadow: 0px 0px 4px #ec4899; */
  /* background: #18181b; */
}

.SearchInputIcon {
  padding-left: 12px;
}

.chakra-group.SearchInput > div:first-of-type {
  padding-left: 6px !important;
}
