.geistFont {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.tall {
  height: 100%;
}

.emphasizedSubtext {
  color: rgba(255, 255, 255, 0.5);
  top: 1px !important;
  position: relative;
}

.AppFrame.isCompactView .AssetRowBody {
  padding: 0 !important;
}

.AppFrame.isCompactView .TagCloudTag {
  scale: 0.95 !important;
}

.AppFrame.isCompactView .ActiveTagFilter {
  scale: 0.95 !important;
}

.SampleResultsList p {
  user-select: none;
}

.ViewHeading {
  flex-wrap: wrap;
}

.ActionableIcon {
  color: var(--iconColor) !important;
}

.ActionableIcon:hover {
  color: var(--iconHoverColor) !important;
}

.View {
  height: 100%;
}

.AssetCopyButton:active {
  cursor: grabbing !important;
}

/* .isDragging {
  cursor: grabbing !important;
} */

.VolumeSlider {
  /* position: absolute;
  bottom: 70px;
  left: -10px; */
}
