.addFolderPrompter.chakra-empty-state__root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.chakra-card__body:has(.addFolderPrompter.chakra-empty-state__root) {
  padding: 0 !important;
}

.dashedBorder {
  /* border-radius: 0 !important; */
  /* background-color: transparent !important; */
  /* --color: #f9a8d4; */
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='var(--color)' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e") !important; */
}
