.CollectionsSection .AddCollectionMenuItem {
  color: var(--chakra-colors-pink-400) !important;
  cursor: pointer;
}

.AddCollectionMenuItem {
  color: var(--chakra-colors-pink-400) !important;
  cursor: pointer;
}
