:root,
html,
body,
#root,
.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #09090b;
  overflow: hidden;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 12px 12px 0px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.taggy {
  letter-spacing: 1px !important;
}

.expanderCaret {
  position: absolute;
  scale: 2;
}

.clickableText {
  cursor: pointer;
  padding-top: 1px;
}

@keyframes pulseGlow {
  0% {
    opacity: 0.3;
    filter: blur(4px);
  }
  50% {
    opacity: 0.6;
    filter: blur(8px);
  }
  100% {
    opacity: 0.3;
    filter: blur(4px);
  }
}

div:focus {
  border: unset;
  outline: unset;
}

.hiddenTag {
  display: none;
}
